/* Silahkan modifikasi CSS untuk halaman blog disini */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    background-color: #F4F4F4;
    color: #1e293b;
    padding: 1.2rem;
    text-align: start;
}

nav .team-name {
    /* isi properti disini */
}

nav .flex {
    display: flex;
    gap: 1rem;
}

/* Konten */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 900px;
    margin: auto;
    padding: 0 1rem;
    margin: 2rem;
}

.content .card {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.content .ilustrasi {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.section-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    flex: 1 1 calc(33.3333% - 1rem);
    max-width: calc(33.3333% - 1rem);
    border: 1px solid #ddd;
    text-align: center;
    background-color: white;
    padding: 1rem;
}

.card img{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.profile-link {
    display: inline-block;
    background-color: white;
    text-decoration: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #F4F4F4;
    color: #1e293b;
    margin-top: 2rem;
}