body {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #fdf4e3, #ffffff); /* Gradien */
    color: #333;
    min-height: 100vh;
}

.content{
    display: flex;
    align-items: center;
}

.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.icon{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    /* flex-direction: column; Susunan vertikal */
    /* align-items: flex-start; Rata kiri */
    gap: 10px; /* Jarak antar ikon */
}
