---
import { Image } from "astro:assets";
import Logo from "../assets/Logo.svg";

interface Props {
    active: "home" | "our-team" | "blog";
}

const { active } = Astro.props;
---

<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <Image src={Logo} alt="Logo The Python" />
        </a>
        <div class="navbar-links">
            <a href="/" class={`nav-link ${active === "home" ? "active" : ""}`}
                >Home</a
            >
            <a
                href="/our-team"
                class={`nav-link ${active === "our-team" ? "active" : ""}`}
                >Our Team</a
            >
            <a
                href="/blog"
                class={`nav-link ${active === "blog" ? "active" : ""}`}
                >Our Blog</a
            >
        </div>
    </div>
</nav>
<style>
    .navbar {
        position: fixed;
        z-index: 100;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-container {
        display: flex;
        align-items: center;
        gap: 30px;
        border: 1px solid var(--border);
        backdrop-filter: blur(10px);
        padding: 6px 20px;
        border-radius: 50px;
        background-color: var(--background-trans);
        margin-bottom: 40px;
        min-height: 60px;
    }
    .navbar-logo {
        display: none;
        align-items: center;
    }
    .navbar-logo img {
        height: 50px;
    }
    .navbar-links {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .navbar-links .nav-link {
        text-decoration: none;
        color: var(--text-80);
        padding: 8px 16px;
        border-radius: 20px;
        transition: all 0.3s ease;
    }

    .navbar-links .nav-link.active {
        background-color: var(--blue-100);
        color: var(--background-100);
    }

    .navbar-links .nav-link:not(.active):hover {
        background-color: var(--border);
        color: var(--blue-100);
    }
    @media (min-width: 768px) {
        .navbar-logo {
            display: flex;
        }
    }
</style>
